.search-container{
    /* border: 2px solid yellow; */
    position: absolute;
    top:50px;
    width: 500px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 15px;
    
}

.search-container input{
    width: 75%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgba(225,225,225,0.2);
    color: white;
    border: none;
    outline: none;
}

::placeholder{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.search-container button{
    width: 20%;
    padding: 10px;
    border-radius: 15px;
    background-color: grey;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

/* media query */

@media screen and (max-width: 480px) {
    
    .search-container{
        width: 90%;
        margin: 0 auto;
    }
  }